org: guillaumeboussus
service: hydra

plugins:
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1
  memorySize: 1024
  timeout: 29
  iam:
    role: arn:aws:iam::438511508379:role/LabRole

  # ONLY STATIC ENV VARS GO HERE
  environment:
    USER_TABLE: UserTable-${sls:stage}
    INCIDENT_TABLE: IncidentTable-${sls:stage}
    CONNECTIONS_TABLE: WebSocketConnections-${sls:stage}
    JWT_SECRET: ${env:JWT_SECRET}
    ALLOWED_ORIGINS: ${env:ALLOWED_ORIGINS, '*'}
    CORS_ALLOW_CREDENTIALS: ${env:CORS_ALLOW_CREDENTIALS, 'false'}
    WS_STAGE: ${sls:stage}

functions:

  register:
    handler: register.handler
    events:
      - http:
          method: post
          path: auth/register
          cors: true

  login:
    handler: login.handler
    events:
      - http:
          method: post
          path: auth/login
          cors: true

  createIncident:
    handler: createIncident.handler
    # WE ADD WS_DOMAIN HERE (CloudFormation is allowed inside)
    environment:
      WS_DOMAIN:
        Fn::Join:
          - ""
          - - Ref: WebSocketApi
            - ".execute-api."
            - Ref: AWS::Region
            - ".amazonaws.com"
    events:
      - http:
          method: post
          path: incidents
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization
          cors: true

  showIncidents:
    handler: showIncidents.handler
    events:
      - http:
          method: get
          path: incidents
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization
          cors: true

  updateIncidentStatus:
    handler: updateIncidentStatus.handler
    events:
      - http:
          method: put
          path: incidents/status
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization
          cors: true

  authorizer:
    handler: autorizer.handler

  websocketConnect:
    handler: websocket/connect.handler
    environment:
      WS_DOMAIN:
        Fn::Join:
          - ""
          - - Ref: WebSocketApi
            - ".execute-api."
            - Ref: AWS::Region
            - ".amazonaws.com"
    events:
      - websocket:
          route: $connect

  websocketDisconnect:
    handler: websocket/disconnect.handler
    environment:
      WS_DOMAIN:
        Fn::Join:
          - ""
          - - Ref: WebSocketApi
            - ".execute-api."
            - Ref: AWS::Region
            - ".amazonaws.com"
    events:
      - websocket:
          route: $disconnect

  websocketDefault:
    handler: websocket/default.handler
    environment:
      WS_DOMAIN:
        Fn::Join:
          - ""
          - - Ref: WebSocketApi
            - ".execute-api."
            - Ref: AWS::Region
            - ".amazonaws.com"
    events:
      - websocket:
          route: $default


resources:
  Resources:

    WebSocketApi:
      Type: AWS::ApiGatewayV2::Api
      Properties:
        Name: HydraWebSocket
        ProtocolType: WEBSOCKET
        RouteSelectionExpression: "$request.body.action"

    WebSocketStage:
      Type: AWS::ApiGatewayV2::Stage
      Properties:
        ApiId:
          Ref: WebSocketApi
        StageName: ${sls:stage}
        AutoDeploy: true

    UserTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USER_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
          - AttributeName: userId
            AttributeType: S
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: EmailIndex
            Projection: { ProjectionType: ALL }
            KeySchema:
              - { AttributeName: email, KeyType: HASH }
          - IndexName: UsernameIndex
            Projection: { ProjectionType: ALL }
            KeySchema:
              - { AttributeName: username, KeyType: HASH }

    IncidentTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.INCIDENT_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: incidentId, AttributeType: S }
          - { AttributeName: status, AttributeType: S }
          - { AttributeName: createdAt, AttributeType: S }
        KeySchema:
          - { AttributeName: incidentId, KeyType: HASH }
        GlobalSecondaryIndexes:
          - IndexName: StatusIndex
            Projection: { ProjectionType: ALL }
            KeySchema:
              - { AttributeName: status, KeyType: HASH }
              - { AttributeName: createdAt, KeyType: RANGE }

    WebSocketConnections:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: WebSocketConnections-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: connectionId, AttributeType: S }
        KeySchema:
          - { AttributeName: connectionId, KeyType: HASH }
        TimeToLiveSpecification:
          AttributeName: ttl
          Enabled: true
